body{
	background-color: #42f551;
	font-family: arial;
}

h1{
	font-family: arial;
	color: blue;
}

p{
	font-family: arial;
	color: #4242f5;
}

p a{
	color: #ff9d00;
	margin-left: 13%;
	font-weight: bold;
	text-decoration: none;
}

p a:hover{
	color: white;
}

h3{
	font-family: arial;
	color: #4242f5;
	text-align: left;
}

ol ul li{
	font-size: 18px;
}

th{
	color: #FFFFFF;
	background-color: #336699;
	border-width: 1px;
	border-style: solid;
	border-color: red;
	font-size: 9pt;
}

td{
	color: red;
	background-color: #E6E6FA;
	border-width: 1px;
	border-style: solid;
	border-color: blue;
	font-size: 9pt;
}

.penengah{
	margin-left: 5%;
	width:550px;
	height: 100%;
}

.footer{
	background-color: black;
	position: fixed;
    bottom: 0;
    padding-bottom: 15px;
    left: 0;
    width: 100%;
    height: 5%;
}

.ganjel{
	float: left;
	width: 2%;
	height:50%;
}

.konten{
	float: left;
	width: 32%;
	height:50%;
	background: rgba(7, 8, 7, 0.3);
	padding-bottom: 1%;	
}

.konten p{
	color: black;
	padding-bottom: -10px;
}